body{
  background-color: #525252;
  font-family: 'Fredoka', sans-serif;
}

.container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button{
  text-decoration:none;
  color:white;
  font-size: 20px;
  letter-spacing: 3px;
  width: 200px;
  height: 40px;
  border-radius: 0 0 25px 25px ;
  background-color: aqua;
  position: relative;
  z-index: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 3s ease;
}

.button:hover{
  color: black;
  border-radius: 25px;
  border-color: aqua;
  transform: scale(1.3);
}

.button:active .name{
  transform: scale(0.9);
}

.button:hover .btn_wave{
  top: -420px;
}
.button:hover .btn_wave_small{
  top: -420px;
}

.name{
  position: absolute;
  z-index: 2;
}

.btn_wave{
  width: 400px;
  height: 400px;
  background-color: #525252;
  border-radius: 45% 50% 45% 50%;
  position: absolute;
  left: -50%;
  top: -375px;
  animation:  waves 7s infinite linear;
  transition: all 2s ease;
}
.btn_wave_small{
  width: 400px;
  height: 400px;
  background-color: #525252;
  opacity: .7;
  border-radius: 50% 45% 50% 45%;
  position: absolute;
  left: -50%;
  top: -370px;
  animation:  waves 7s infinite linear;
  transition: all 2s ease;
}

@keyframes waves{
  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(180deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

